<!DOCTYPE html>
<html>
  <head>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <!-- Css sheets -->
      <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}"/>
      <!--AJAX-->
      <!--<script type="text/javascript" src="{{url_for('static',filename='jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{url_for('static',filename='ajax_js.js') }}"></script>
      --><!--Cookies-->
      <link rel="stylesheet" type="text.css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}

      <!--bootstrap, javascript and jquery-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>

    <!--navbar implementing bootstrap-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/addrecord">Add Record</a></li>
          <li class="nav-item"><a class="nav-link" href="/viewrecord">View Records</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">User Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          <li class="nav-item"><a class="nav-link" href="/adduser">Add User</a></li>
        </ul>
      </div>
    </nav>

    <div class = "content">
      {% block content %}{% endblock %}
    </div>
      

  
  </body>
</html>