{% extends "base.html"%}
{%block content%}

<h1 class="page_title">Change password</h1>

<!--Flashed messages-->
{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul class="flash_message">
   {% for message in messages %}
    <li>{{ message }}</li>
   {% endfor %}
  </ul>
 {% endif %}
{% endwith %}

<div class="form">
    <form action="/changepassword" method ="post" name="password">
        {{ form.hidden_tag() }}
        <p class="data">
            Enter your Username:<br>
            {{form.Username }}<br>
        </p>
        <p class="data">
            Enter Your old password:<br>
            {{form.OldPassword}}<br>
        </p>
        <p class="data">
            Enter Your new password:<br>
            {{form.NewPassword}}<br>
        </p>
        <p class="submit">
            Press submit to Change your password.<br>
            <input class = "btn btn-info" type="submit" value="Submit">
        </p>
    </form>
    
</div>




{% endblock %}